# Requirements file for the desktop app and the web app combined.
# Each app has its own requirements.txt file that can also be found in this repository.

expiringdict==1.2.1
flask==1.1.2
google-api-core
google-auth
google-cloud-core
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
jinja2==2.11.2
matplotlib==3.3.1
numpy==1.20.2
pandas==1.1.3
pillow==8.0.0
pygithub==1.55
PyQt5==5.12.2
PyQtWebEngine==5.12
rich
pyinputplus
scipy==1.6.2
traceback_with_variables