aiohttp==3.7.2
altgraph==0.17
async-timeout==3.0.1
attrs==20.3.0
blinker==1.4
brotlipy==0.7.0
cachetools==4.1.1
certifi==2020.6.20
cffi
chardet==3.0.4
cryptography
cycler==0.10.0
future==0.18.2
idna==2.10
ipinfo==4.0.0
kiwisolver==1.2.0
matplotlib
multidict==5.0.0
numpy
oauthlib==3.1.0
olefile==0.46
pandas
pefile==2019.4.18
Pillow
pycparser
pycryptodome==3.9.9
pygame==2.0.1
PyInputPlus==0.2.10
PyJWT==1.7.1
pyOpenSSL
pyparsing==2.4.7
PySimpleValidate==0.2.12
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2020.1
pywin32-ctypes==0.2.0
requests==2.25.0
requests-oauthlib==1.3.0
scipy
screeninfo==0.6.6
sip
six==1.15.0
stdiomask==0.0.5
tornado==6.0.4
traceback-with-variables==2.0.1
tweepy
typing-extensions==3.7.4.3
urllib3==1.26.2
win-inet-pton==1.1.0
wincertstore==0.2
yarl==1.6.2
