/* Styling for table giving you options for which countries to select */

.CountryTable {
  margin-top: 20px;
  margin-bottom: 20px;
  margin: auto;
  font-size: 0.95em;
}

.CountryTable td{
  padding: 0px 20px 20px 20px;
}

/* Styling for the dropdown button giving you a list of countries */

.selectbutton {
  font-size: 0.9em;
}

@media screen and (max-width: 761px){
  .DesktopForm {
    display: none;
  }

  .MobileForm {
    display: block;
  }

  td {
    max-width: 290px;
  }

  .BiggerRow td{
    padding: 40px 20px 20px 20px;
  }
}

@media screen and (min-width: 761px){
  .DesktopForm {
    display: block;
  }

  .MobileForm {
    display: none;
  }
}
