/* Styling for the site header */

header {
  font-family: serif;
  background-color: #DFB887;
  padding-top: 25px;
  padding-bottom: 20px;
  min-height: 80px;
  border-bottom: inset DarkGoldenRod 3px;
  opacity: .9;
}

header img{
  float: left;
  height: 80px;
  margin-top: -20px;
  margin-right: 30px;
}

.HeaderContainer{
  width: 90%;
  margin: auto;
  overflow: hidden;
}

/* Links in the header */

header a {
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  float: left;
  margin: 0;
}

header a:hover{
  color: #f0e4e4
}

header a:checked{
  color: #f0e4e4
}

/* Header navigation bar */

header nav{
  float: right;
}

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.5px;
  font-size: 0.95em;
}