/* Load a font-family from a static file */

@font-face {
  font-family: Playfair-Display;
  src: url('../PlayfairDisplay-VariableFont_wght.ttf');
}

/* Set the font as the default font, set the padding and margin for the body to 0. */

body{
  font-family: Playfair-Display;
  padding: 0;
  margin: 0;
}

/* Horizontal lines. */

hr {
  margin-top: 130px;
  margin-bottom: 60px;
  border-top: 2px groove DarkGoldenRod;
}

/* Default styling for buttons across the site. */

.button {
  font: bold 13px Times New Roman;
  text-decoration: none;
  text-weight: bold;
  background-color: #EEEEEE;
  color: #333333;
  align: center;
  padding: 10px 10px 10px 10px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  cursor: pointer;
  z-index: 2;
}

.button:hover {
  background-color: #D1CFCF;
}

/* Styling for a table that contains an array of buttons in it (used in multiple places across the site) */

.MakeGraphButtonsTable {
  margin-top: 60px;
  display: flex;
  justify-content: center
}

.MakeGraphButtonsTable td {
  position: relative;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  width: 200px;
  padding: 10px 0px 10px 0px;
}

.MakeAnotherGraphButton {
  font-size: 1.05em;
  display: inline-block;
  width: 150px
}

.MakeGraphButton {
  font-size: 0.95em;
  display: inline-block;
}

/* Styling for the 'Loading...' message that comes up when the page is loading */

.loading {
  margin-top: 100px;
  margin-bottom: 60px;
  width: 2000px;
  height: 1000px;
  display: none;
  text-align: center;
  text-weight: bold;
  font: bold 22px Playfair-Display
}

/* A few abstract containers for the page as a whole */

#PageContainer{
  position: relative;
  min-height: 100vh;
}

/* Footer height is responsive >> */

@media screen and (min-width: 401px){
  #EverythingExceptFooter{
    padding-bottom: 10rem
  }
}

@media screen and (max-width: 400px){
  #EverythingExceptFooter{
    padding-bottom: 15rem
  }
}

.LayoutContentContainer{
  margin-top: 20px;
}

.CentreAlignedToParent {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.DataviewerCenteredContent {
  width: 70%;
  margin: auto;
  overflow: hidden;
  color: #222;
  font-size: 18px;
  letter-spacing: 0.3px;
}

.Centred {
  text-align: center;
  align: center
}

.CenteredContent {
  width: max(50%, min(550px, 90%));
  margin: auto;
  overflow: hidden;
  color: #222;
  letter-spacing: 0.3px;
}

.CenteredContent p {
  line-height: 1.8em;
}

@media screen and (min-width: 831px){
  .CenteredContent p{
    text-align: left;
    font-size: 18px;
  }

  .Centered Content h2{
    font-size: 1.5em;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 830px){
  .CenteredContent p{
    text-align: center;
    font-size: 16px;
  }

  .CenteredContent h2{
    font-size: 1.3em;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
  }
}