@font-face {
  font-family: Playfair-Display;
  src: url('../PlayfairDisplay-VariableFont_wght.ttf');
}

.social-share {
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    text-decoration: none;
}

.social-share * {
    font-family: Playfair-Display;
    color: #222;
    letter-spacing: 0.3px;
    text-decoration: none;
    align: inline-block
}

.social-share a {
    position: relative;
    text-decoration: underline;
    margin: 4px;
    outline: none;
    color: blue;
}

.social-share a:visited {
   color: purple;
}

.social-share a:active {
   color: red;
}

.social-share img {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    vertical-align: middle;
    transition: 0.2s all linear;
    cursor: pointer;
}

.social-share img:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25px;            /* Footer height */
  text-align: center;
  z-index:-1;
  font-family: Playfair-Display
}

footer a {
  text-decoration: underline
}

header {
  background-color: #DFB887;
  position: absolute;
  left: 0;
  right: 0;
  width: 1350px;
  opacity: .9;
}

header a {
  margin: 5;
  font-size: 1em;
  color: #fff;
  float: left;
  text-decoration: none;
}

.HeaderContainer {
  width: 1200px;
  margin-left: 20px;
}

.BlockContent {
  left: 10px;
  top: 70px;
  right: 0
}

.HomeBlock {
  padding: 20px 0px
}

.CenteredContent {
  position: absolute;
  left: 25%;
  top: 70px;
  right: 25%;
  color: #222;
  font-family: Playfair-Display;
  font-size: 18px;
  letter-spacing: 0.3px;
}

.CenteredContent p {
  line-height: 1.8em
}

.FromRedirect h2 {
  font-size: 1.5em;
}

.Centred {
  text-align: center;
  align: center
}

.button {
  font: bold 13px Times New Roman;
  text-decoration: none;
  text-weight: bold;
  background-color: #EEEEEE;
  color: #333333;
  align: center;
  padding: 10px 10px 10px 10px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  cursor: pointer
}

.button:hover {
  background-color: #D1CFCF;
}

.GraphMessageTitle {
  display: block;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 100px;
  font: bold 24px Times New Roman;
  text-weight: bold;
  color: #333333;
  text-align: center;
  align: center;
}

.GraphMessageBody {
  display: block;
  margin-left: 50px;
  margin-right: 50px;
  font: bold 14px Times New Roman;
  color: #333333;
  text-weight: bold;
  text-align: center;
  align: center;
  position: relative;
}

.GraphMessageBody img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid Gainsboro
}

.CentreAlignedToParent {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.HowManyCountriesForm {
  text-align: center;
}

.HowManyCountriesForm table {
  display: block;
  justify-content: center;
  width: 250px;
}

.HowManyCountriesForm input {
  cursor: pointer;
}

.HowManyCountriesForm table td {
  width: 60px;
}

.RadioButton {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 4px inset #999;
  opacity: 0.5;
  transition: 0.2s all linear;
  margin-right: 5px;
  color: #eee;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  will-change: border, opacity;
}

.RadioButton:hover {
  opacity: 1;
  border: 4px solid silver;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.2);
}

.RadioButton:active {
  opacity: 1;
  border: 4px solid DarkGoldenRod;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.2);
}

.RadioButton:checked {
  border: 4px inset DarkGoldenRod;
  opacity: 1;
}

.selectbutton {
  font-size: 0.9em;
}

.CountryTable {
  width: 800px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.CountryTable tr {
  height: 50px;
  font-size: 0.95em;
}

.filledcell td {
  width: 500px;
}

.emptycell {
  width: 10px
}

.MakeGraphButton {
  font-size: 0.95em;
  display: inline-block;
}

.MakeAnotherGraphButton {
  font-size: 1.05em;
  display: inline-block;
  width: 150px
}

.MakeGraphButtonsTable {
  margin-top: 60px;
  display: flex;
  justify-content: center
}

.MakeGraphButtonsTable td {
  position: relative;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  width: 200px;
}

hr {
  border-top: 2px groove DarkGoldenRod;
}

.menu {
  float: right;
  margin-top: 8px;
  position: relative;
  right: -50px;
}

.menu li {
  position: relative;
  display: inline-block;
  padding: 2px 10px
}


.menu li a {
  color: #444;
  text-decoration: none;
}

.AboutPage p {
  margin-bottom: 60px
}

.loading {
    width: 2000px;
    height: 1000px;
    display: none;
    text-align: center;
    text-weight: bold;
    font: bold 22px Playfair-Display
    }
