<!DOCTYPE html>
<html lang="en">
    {% extends "layout.html" %}
    {% from "macros.html" import AdditionalTags, Button %}

    {% block additionaltags %}
        {{ AdditionalTags("404 not found", FourthTag=true) }}
    {% endblock %}

    {% block content %}
        <div class="CentreAlignedToParent Centred">
            <h1>It doesn't look like this page exists :(</h1>
            {{ Button(url_for('static_routes', page='home'), "Head home", class="CentreAlignedToParent") }}
        </div>
    {% endblock %}

</html>

