<!DOCTYPE html>
<html lang="en">
    {% extends "layout.html" %}

    {% block additionaltags %}
        <meta   property="og:title"         content="404 not found"     />
        <meta   name="twitter:title"        content="404 not found"     />
        <meta   name="twitter:text:title"   content="404 not found"     />
        <title> 404 not found                                           </title>
    {% endblock %}

    {% block content %}
        <div class="BlockContent CentreAlignedToParent Centred">
            <h1><br><br>It doesn't look like this page exists :(</h1>
            <a href="/" class="button CentreAlignedToParent">Head home</a>
        </div>
    {% endblock %}

</html>

