<!DOCTYPE html>
<html lang="en">
    {% extends "layout.html" %}

    {% block additionaltags %}
        <meta   property="og:title"   content="500 server error"        />
        <meta   name="twitter:title"  content="500 server error"        />
        <meta   name="twitter:text:title"  content="500 server error"   />
        <title> 500 server error                                        </title>
    {% endblock %}

    {% block content %}
        <div class="CentreAlignedToParent Centred">
            <h1>Hmm, looks like there was a server error here :(</h1>
            <p>The server probably had difficulty making a graph with one or more of your country selections.</p>
            <table class="MakeGraphButtonsTable CentreAlignedWithParent"><tr>
                <td><a href="/dataviewer/" class="button MakeGraphButton CentreAlignedToParent">Make a graph</a></td>
                <td><a href="/" class="button MakeGraphButton CentreAlignedToParent">Head home</a></td>
            </tr></table>

        </div>
    {% endblock %}

</html>