<!DOCTYPE html>
<html lang="en">
    {% extends "layout.html" %}
    {% from "macros.html" import AdditionalTags, MultipleButtons with context %}

    {% block additionaltags %}
        {{ AdditionalTags("500 server error", FourthTag=true) }}
    {% endblock %}

    {% block content %}
        <div class="CentreAlignedToParent Centred">
            <h1>Hmm, looks like there was a server error here :(</h1>
            <p>The server probably had difficulty making a graph with one or more of your country selections.</p>
            <table class="MakeGraphButtonsTable CentreAlignedWithParent"><tr>

                {% set ButtonVals = (
                    (url_for('dataviewer'),                     "Make a graph",     {'onclick': 'WhileLoading()'}),
                    (url_for('static_routes', page='home'),     "Head home",        {})
                ) %}

                {{ MultipleButtons(ButtonVals, "MakeGraphButton CentreAlignedWithParent") }}

            </tr></table>

        </div>
    {% endblock %}

</html>