<!DOCTYPE html>
<html lang="en">

    {% extends "layout.html" %}
    {% from "macros.html" import AdditionalTags, StyleSheetTag, Button, SubmitButton %}

    {% block additionaltags %}

        {{ AdditionalTags("Pandemic Excess Deaths: select countries to compare", FourthTag=true)    }}
        {{ StyleSheetTag('dataviewer_0')                                                    }}

    {% endblock %}

    {% block content %}<div class="DataviewerCenteredContent">

        {% if FromRedirect %}

            <h2 class="Centred FromRedirectHeader">It looks like you made a mistake when entering a URL!</h2>

            <p class="Centred">
                You either entered an invalid number of countries,
                or tried to enter a country that isn't in the FT's dataset.<br>
                Either enter the URL again, or complete the form manually here.
            <hr>
            <br>

        {% endif %}

        <p class="Centred">To make a custom graph, please specify how many countries you want to compare:</p>

        <form action="" method="get" class="HowManyCountriesForm CentreAlignedToParent" onsubmit="WhileLoading()">

            <table>

                <tr>
                    {% for i in range(1, 6) %}
                        <td> <input type="radio" id={{i}} name="HowManyCountries" value={{i}} class="RadioButton"> </td>
                    {% endfor %}
                </tr>

                <tr>
                    {% for i in range(1, 6) %}
                        <td> <label for={{i}}>{{i}}</label> </td>
                    {% endfor %}
                </tr>

            </table>

            <p>{{ SubmitButton("Submit") }}</p>

        </form>

        <p class="Centred">

            <br><br><br><br><br><br><br><br>
            Alternatively, click the button below to generate a random graph!
            <br><br>

            {{ Button(
                url_for('dataviewer', HowManyCountries='random'),
                "Generate random graph",
                class="CentreAlignedToParent",
                onclick="WhileLoading()"
            ) }}

        </p>
    </div>{% endblock %}
</html>