<!DOCTYPE html>
<html lang="en">
    {% extends "layout.html" %}
    {% from "macros.html" import AdditionalTags, StyleSheetTag, SelectCountryForm %}

    {% block additionaltags %}

        {{ AdditionalTags("Pandemic excess deaths: select countries to compare", FourthTag=true)    }}
        {{ StyleSheetTag('dataviewer_1')                                                            }}

    {% endblock %}

    {% block content %}
        <div class="DataviewerCenteredContent">
            {% for val in (true, false) %}
                {{ SelectCountryForm(plotter, val) }}
            {% endfor %}
        </div>
    {% endblock %}

</html>