<!DOCTYPE html>
<html lang="en">
    {% extends "layout.html" %}
    {% from "macros.html" import AdditionalTags, StyleSheetTag, MultipleButtons with context %}

    {% block additionaltags %}

        {{ StyleSheetTag('dataviewer_2') }}

        {% if plotter.RandomGraphSelected %}
            {{ AdditionalTags("Pandemic excess deaths: generate a random graph", FourthTag=True) }}
        {% else %}
            {{ AdditionalTags(plotter.ImageTitle, FourthTag=True) }}
        {% endif %}

    {% endblock %}

    {% block content %}<div class="GraphImageContainer">

        <div class="GraphMessage">

            <p class="GraphMessageTitle">{{plotter.Message1}}<br><br></p>

            <p class="GraphMessageBody">

                {% if plotter.Message2 %}
                    {{plotter.Message2}}<br><br>
                {% endif %}

                {{plotter.Message3}}<br><br><br>
                <img src="{{plotter.img}}" title="{{plotter.ImageTitle}}" alt="{{plotter.ImageTitle}}"/>
                <br>
            </p>

        </div>

        <table class="MakeGraphButtonsTable CentreAlignedWithParent"><tr>
            {% set ButtonVals = (
                (plotter.img,           "Download graph",       {'download': plotter.ImageTitle}),
                (url_for('dataviewer'), "Make another graph",   {}),
                (url_for('about'),      "About these graphs",   {})
            ) %}

            {{ MultipleButtons(ButtonVals, "MakeAnotherGraphButton CentreAlignedToParent") }}

        </tr></table>

        {% if plotter.RandomGraphSelected %}

            <p class="RandomGraphPermalink">
                <br><br><br>
                Permanent link to this graph:
                <br>

                <a href="{{plotter.RandomGraphPermanentURL}}">{{plotter.RandomGraphPermanentURL}}</a>
                <br><br>
            </p>

        {% endif %}

        <p><br></p>

    </div>{% endblock %}
</html>