<!DOCTYPE html>

<html lang="en">
    {% extends "layout.html" %}

    {% block additionaltags %}
        <meta   property="og:title"         content="Pandemic excess deaths"    />
        <meta   name="twitter:title"        content="Pandemic excess deaths"    />
        <meta   name="twitter:text:title"   content="Pandemic excess deaths"    />
        <title> Pandemic excess deaths: A site by Alex Waygood                  </title>
    {% endblock %}

    {% block content %}

    <div class="CenteredContent">
        <h1 class="Centred">Welcome to Alex Waygood's interactive data viewer for weekly excess deaths!</h1>

        <p class="HomePageContent">
            This website will auto-generate graphs comparing the impact of the COVID-19 pandemic between countries.
            <br><br>
            This website uses
            <a href=https://github.com/Financial-Times/coronavirus-excess-mortality-data">the FT's data</a>.
            However, the code for generating the graphs was written by Alex Waygood,
            and is in no way affiliated with the FT.
            <br><br>
            Click the button below to start generating your graph (may take a few seconds to load)!
            <br><br>

        <a href="/dataviewer/" class="button CentreAlignedToParent" onclick="WhileLoading()">
            Make a graph!
        </a>

    </div>
    {% endblock %}

</html>