<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Pandemic excess deaths: interactive web viewer</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/coronavirus.ico') }}">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
    </head>

    <body><div class="page-container">
        <div class="content-wrap">

            <header><div class='HeaderContainer'>
                <h1 class="logo"><a href="/">Pandemic excess deaths: interactive web viewer</a></h1>

                <nav><ul class="menu">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                </ul></nav>

            </div></header>

            <div class="LayoutContainer">
                {% block content %}
                {% endblock %}
            </div>

        </div>
    </div>

    <footer id="footer"><p>

        {% if plotter.GraphStage == 2 %}
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        {% elif AboutPage %}
            {% for _ in range(6) %}
                 <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            {% endfor %}
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        {% endif %}

        <a href="http://alexwaygood.com">© Alex Waygood 2021</a>

        {% if plotter.GraphStage == 2 or AboutPage %}
            <br><br>
        {% endif %}

    </p></footer>

    </body>

</html>