<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">

        <meta property="og:title"           content="Pandemic Excess Deaths"                                    />
        <meta property="og:description"     content="Alex Waygood's interactive data viewer"                    />
        <meta property="og:type"            content="article"                                                   />
        <meta property="og:site_name"       content="Pandemic Excess Deaths: Interactive Data Viewer"           />
        <meta property="og:locale"          content="en_GB"                                                     />
        <meta property="og:url"             content="http://covid-excess-deaths.ew.r.appspot.com/"              />
        <meta property="og:image"           content="http://covid-excess-deaths.ew.r.appspot.com/link-image/"   />
        <meta property="og:article:author"  content="Alex Waygood"                                              />


        <meta name="twitter:image:src"      content="http://covid-excess-deaths.ew.r.appspot.com/link-image/"   />
        <meta name="twitter:title"          content="Pandemic Excess Deaths"                                    />
        <meta name="twitter:description"    content="Alex Waygood's interactive data viewer"                    />
        <meta name="twitter:creator"        content="@CovidGraph"                                               />
        <meta name="twitter:site"           content="@CovidGraph"                                               />
        <meta name="twitter:card"           content="summary_large_image"                                       />
        <meta name="twitter:image:alt"      content="Pandemic Excess Deaths: Interactive Data Viewer"           />
        <meta name="twitter:domain"         content="http://covid-excess-deaths.ew.r.appspot.com/"              />

        <meta name="description"            content="Alex Waygood's interactive data viewer"                    />
        <meta property="article:author"     content="https://www.facebook.com/alexwaygoodblog/"                 />

        <title>Pandemic excess deaths: interactive web viewer</title>

        <link rel="stylesheet"              href="{{ url_for('static', filename='css/main.css') }}"             />
        <link rel="shortcut icon"           href="{{ url_for('static', filename='images/coronavirus.ico') }}"   />

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js">   </script>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}">                    </script>
    </head>

    <body><div class="page-container">
        <div class="content-wrap">

            <header><div class='HeaderContainer'>
                <h1 class="logo"><a href="/">Pandemic excess deaths: interactive web viewer</a></h1>

                <nav><ul class="menu">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('dataviewer') }}">Make a graph</a></li>
                </ul></nav>

            </div></header>

            <div class="LayoutContainer">
                {% block content %}
                {% endblock %}
            </div>

        </div>
    </div>

    <footer id="footer"><p>

        {% if plotter.GraphStage == 2 %}
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        {% elif AboutPage %}
            {% for _ in range(9) %}
                 <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            {% endfor %}
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        {% endif %}

        <a href="http://alexwaygood.com">© Alex Waygood 2021</a>

        {% if plotter.GraphStage == 2 or AboutPage %}
            <br><br>
        {% endif %}

    </p></footer>

    </body>

</html>